.App {
  text-align: center;
}

/* #container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
} */

html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

h1 {
  margin:0;
}

#body-content {overflow: hidden;}

hr {
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 4px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.landing-page-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to top, #0f2027, #203a43, #2c5364); */
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
}

.landing-page-logo-container{
  height: 30%;
  width: 30%;
  /* background-color: #9370db; */
  margin-bottom: 20px;
}

.logo{
  /* animation: App-logo-spin infinite 20s linear; */
  max-width: 100%;
  max-height: 100%;
}

.landing-page-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 80%;
  color: #FCFBFC;
}

.landing-page-app-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.landing-page-acronym{
  font-family: 'Roboto', sans-serif;
  font-weight: 78;
  font-size: 20px;
  /* color: #FF2C4D; */
}

.landing-page-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  height: 10%;
}

.main-dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: #0D294B; */
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dashboard-header{
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(35, 37, 38, 0.6);
}

.dashboard-header-link-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.logo-mini{
  height:65px;
  width: 65px;
}

.header-link-text{
  color: white;
  margin-left: 12px;
  border-bottom: 4px transparent ;
}

.header-link-text.dashboard{
  display: inline-block;
  border-bottom: 4px solid white;
}

.user-data-interaction-container{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: white;
  height: 100%;
}

/* .filter-container p{
  height: 50%;
} */

.forecast-counter-table-wrapper{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  height: 40vh;
  width: 100vw;
  margin-top: 5px;
}

/*********** Table stuff *************/

/* Remove the top border from the table */
.react-bs-container-header tr {
  border-top-style: hidden !important;
}

.react-bs-container-body tr {
  border-bottom-style: hidden !important;
}

.table thead tr th{
  font-size: 12px;
  color: white;
}

.table tbody tr td {
  font-size: 12px;
  color: white;
}

.table-wrapper{
  height: 100%;
  width: 65%;
}

.event-table{
  height: 100%;
  width: 100%;
}

.react-bs-table-container{
  background-color: transparent;
}

/*********** Forecast stuff *************/

.forecast-container{
  height: 100%;
  width: 16%;
}

.forecast-temps-text{
  color: white;
}

.event-counter{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* This div wraps seats the map container within the map-graph-wrapper flexbox */

.map-wrapper{
  height: 100%;
  width: 48%;
}

.map-container{ 
  width: 100%;
  height: 90%; 
  box-shadow: 0 12px 6px -6px black;
  z-index: 0;
}

.map-fade-loader{
  position: absolute;
  vertical-align: middle;
  z-index: 5;
  top: 40%;
  left: 45%;
}

/* This relates to both the time series plot and the map */
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-graph-wrapper{
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1%;
}

.time-series-graph{
  width: 48%;
  height:50vh;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharts-surface{
  height:400px
}


.recharts-default-tooltip{
  text-align: left;
}

.marker-cluster-custom {
  background: #9370db;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: #ededed;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.new-form-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0D294B; */
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.new-main-form{
  height: 90%;
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px black;
}

.form-group{
  text-align: left;
  font-size: 16px;
}

.new-event-form-header{
  align-self:center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}